<div class="logo">
  <p>
    <a routerLink="/inicio">Inicio</a>
  </p>
  <h2>
    CafeOrigen
  </h2>
</div>

<div class="conteiner mt-3 p-3">
  <p>
    En <strong>CafeOrigen</strong> es un espacio abierto, donde el café se convierte en una
    experiencia única. Nuestro portafolio digital ofrece una amplia gama de
    perfiles de café, cuidadosamente seleccionados para satisfacer los gustos
    más exigentes.
  </p>
  <p>
    Nos enorgullece conectar a los caficultores dedicados con clientes
    apasionados, asegurando una calidad incomparable en cada etapa del proceso.
    Desde la rica tierra donde se cultivan nuestros granos hasta la taza que
    disfrutas, nos comprometemos a ofrecer varidades de café que cuenta una
    historia de pasión, dedicación y excelencia. Explora nuestro catálogo y
    descubre el verdadero arte del café.
  </p>
</div>
<!-- 
<div
  id="carouselExampleInterval"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        src="../../../../assets/img/coffee-171653_1280.jpg"
        class="d-block w-100 d-flex justify-content-center"
        style="height: 400px"
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="../../../../assets/img/coffee-5498486_1280.jpg"
        class="d-block w-100 d-flex justify-content-center"
        style="height: 400px"
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="../../../../assets/img/coffee-beans-230022_1280.jpg"
        class="d-block w-100 d-flex justify-content-center"
        style="height: 400px"
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<div class="container mt-5">
  <div class="row">
    <!-- Primera columna para información -->
    <div class="col-md-6">
      <h2>noticica relevante 1</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni,
        reprehenderit praesentium consequatur vitae consequuntur iusto
        accusamus, qui debitis corrupti repudiandae tempora cum corporis dolorum
        ad deserunt ab quis quas molestias.
      </p>
    </div>

    <!-- Segunda columna para imagen -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../../../assets/img/taza1.png"
        class="img-fluid rounded"
        alt="Imagen de Perfil"
      />
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- Segunda columna para imagen -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../../../assets/img/taza1.png"
        class="img-fluid rounded"
        alt="Imagen de Perfil"
      />
    </div>
    <!-- Primera columna para información -->
    <div class="col-md-6">
      <h2>noticica relevante2</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni,
        reprehenderit praesentium consequatur vitae consequuntur iusto
        accusamus, qui debitis corrupti repudiandae tempora cum corporis dolorum
        ad deserunt ab quis quas molestias.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <!-- Primera columna para información -->
    <div class="col-md-6">
      <h2>noticica relevante 1</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni,
        reprehenderit praesentium consequatur vitae consequuntur iusto
        accusamus, qui debitis corrupti repudiandae tempora cum corporis dolorum
        ad deserunt ab quis quas molestias.
      </p>
    </div>

    <!-- Segunda columna para imagen -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../../../assets/img/taza3.png"
        class="img-fluid rounded"
        alt="Imagen de Perfil"
      />
    </div>
  </div>
</div>


<!-- <div class="conteiner mt-3 p-3">
  <p>
    Bienvenidos a El camin del café, donde el café se convierte en una
    experiencia única. Nuestro portafolio digital ofrece una amplia gama de
    perfiles de café, cuidadosamente seleccionados para satisfacer los gustos
    más exigentes.
  </p>
  <p>
    enorgullece conectar a los caficultores dedicados con clientes apasionados,
    asegurando una calidad incomparable en cada etapa del proceso. Desde la rica
    tierra donde se cultivan nuestros granos hasta la taza que disfrutas, nos
    comprometemos a ofrecer varidades de café que cuenta una historia de pasión,
    dedicación y excelencia. Explora nuestro catálogo y descubre el verdadero
    arte del café.
  </p> -->

<!-- <div class="conteiner">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 col-lg-auto ml-auto">
        <h2>Institucionalidad</h2>
      </div>
      <div class="col-12 col-lg-8 col-xl-7 mr-auto">
        <div class="row slick-initialized slick-slider">
          <button type="button" class="prev fa fa-chevron-left slick-arrow">
              Previous
          </button>

          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 7220px; transform: translate3d(-1520px, 0px, 0px);">

            </div>

          </div>

          <button type="button" class="next fa fa-chevron-right slick-arrow">
              Next
          </button>

        </div>

      </div>

    </div>
  </div>
</div> -->
