<footer class="footer text-center text-white mt-3  " style="max-height: 400px">
    <div class="container p-0 mb-1" >
      <img src="../../../assets/img/logotrans.png" alt="Tu Logo" class="img-fluid mb-4" style="max-height: 200px">
      <div class="social-icons " >
        <a href="#" class="social-icon">Facebook<i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon">Instagram<i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon">X<i class="fab fa-instagram"></i></a>
      </div>
      <p>Todos los derechos reservados. © 2023</p>
    </div>
  </footer>
