<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navv" >
  <div class="container-fluid">
    <!-- <a class="navbar-brand" routerLink="/inicio" >Home</a> -->
    <!-- agregar logo -->
    <img src="../../../../assets/img/logo2.jpeg" width="50px" height="50px" class="d-inline-block align-top" alt="logo">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#Navbar2" aria-controls="Navbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="Navbar2" >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="Navbar2Label">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/registro">Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto" href="#">Contácto</a> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catálogos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/registro">Caficultores</a></li>
              <li><a class="dropdown-item" href="#">Fincas</a></li>
            </ul>
          </li>
        </ul>
        <!-- buscador -->
        <!-- <form class="d-flex mt-3 mt-lg-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Busar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">ir</button>
        </form> -->
      </div>

    </div>
  </div>
</nav>



